@font-face {
    font-family: "suncheon";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "suncheon";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suncheon/suncheon-Bold.ttf") format("truetype");
    font-display: swap;
} 
.suncheon {
    font-family: "suncheon";
}
.suncheon400 {
    font-family: "suncheon";
    font-weight: 400;
}
.suncheon700 {
    font-family: "suncheon";
    font-weight: 700;
}
